[2016-10-10 00:28] grahamearley opened #11 "Implement `nonrepeating` property to base interaction"

[2016-10-10 03:07] cpimhoff commented on #11
See pull request #12

[2016-10-10 03:07] #11 closed, assigned to cpimhoff

[2016-10-30 16:56] grahamearley opened #31 "Rename `PlayAudioInteraction` to `AudioInteraction`"
The rest of the interactions don't have a verb-noun structure (like "Start Slideshow") so I think we should remove the verb from this interaction to keep it consistent with the others.

[2016-11-01 06:46] cpimhoff commented on #31
I fully agree with this change.

##### Effects on Existing
- This is a non-breaking API change, nothing referencing this by class name.
- Unity prototyping demos references to `PlayAudioInteraction` would need to be updated to `AudioInteraction`.

[2016-11-01 16:01] cpimhoff commented on #31
Resolved on PR #35.

[2016-11-01 16:09] grahamearley opened #37 "Handle multiple interactions on an item gracefully"
What happens if you add multiple interactions to an item? Are there multiple prompts?

You can use a `TriggerInteraction` to do multiple interactions nicely, but that might not be a user's first intuition.

[2016-11-01 16:11] grahamearley opened #38 "Give Twine nodes access to their parents"
That way, we can turn on the next Twine node in a story and have that node disable its parent.

[2016-11-01 16:11] #31 closed, assigned to mjavaly, cpimhoff, Donahuec, shoemakerc

[2016-11-01 16:22] grahamearley opened #39 "Add TwineNode interaction"
For activating new current node and deactivating its parent.

Could be used later for presenting the newly activated node's body text

[2016-11-03 18:13] grahamearley commented on #38
PR #36 has this change. Waiting on a merge.

[2016-11-05 16:15] #38 closed, assigned to brennan724

[2016-11-07 01:53] grahamearley opened #43 "Put ProjectSettings, GraphicSettings, ProjectVersion, etc in gitignore"

[2017-01-09 01:09] grahamearley commented on #39
Added in #40!

[2017-01-09 01:09] #39 closed, assigned to grahamearley

[2017-01-10 03:02] grahamearley opened #46 "Rename the repository to Prairie instead of comps"

[2017-01-10 07:16] #46 closed, assigned to mjavaly

[2017-01-10 19:25] cpimhoff commented on #43
adding it now

[2017-01-10 19:26] cpimhoff commented on #43
pushed to `master`

[2017-01-10 19:26] #43 closed, assigned to nobody

[2017-01-16 01:38] cpimhoff opened #50 "`NextTwineNode` select node from dropdown"
So much simpler (and type-safer) than the current "select any GameObject in your hierarchy".

---------
It'd be great to have a generic GUI function like this which draws a ~~checkbox~~ dropdown menu and returns the value selected.

      static Value GUICheckbox(Value[] options)

That way we could reuse this across lots of our components.

[2017-01-16 01:40] cpimhoff opened #51 "Clarify which Standard Assets (and even which Prairie assets) are required in Linking Prairie"
I think all we need from Standard Assets is "Characters" (and its dependencies)?

We need a wiki page for linking Prairie to a Unity project.

[2017-01-16 01:44] cpimhoff opened #52 "New Array Population Interface in Inspector"
The default one is trash. Let's make a better one (where you don't need to specify number of elements) and has simpler add and remove buttons.

---------
It'd be great to have a generic GUI function like this which draws an Array UI Element, and returns the result.

      static class PrairieGUI
          static T[] list<T>(T[] elements) where T : Object

That way we could reuse this array UI elem

[2017-01-16 01:44] brennan724 commented on #51
How do we link Prairie to a Unity project (aside from importing the whole file structure)?

[2017-01-16 01:45] cpimhoff opened #53 "Swivel is a bit off"
`SwivelInteraction` rotates a bit off of what a proper door would.

[2017-01-16 01:49] grahamearley commented on #37
The only problem is that the first interaction is the only one whose prompt is displayed

[2017-01-16 01:50] Donahuec opened #54 "Expanded Annotation System"
Set up annotations to handle all three types of annotations (ignore toolbar of area annotations for now?)

[2017-01-16 01:52] cpimhoff opened #55 "Draw `TwineNode` details via Gizmos"
This is [apparently](https://forum.unity3d.com/threads/text-gizmo.27902/) more difficult than I thought.

Will continue work.

[2017-01-16 01:53] grahamearley opened #56 "Write tutorial for simple abstract Twine story"
Based on my demo, but maybe also with more interactions

[2017-01-16 01:54] cpimhoff commented on #51
Based on the fact that the Unity market just copies in packages of assets into your project, I think there's no method of "linking" an external dependencies.

I will write some documentation on how it stands right now -- and maybe look into if there's a better way moving forward.

[2017-01-16 01:54] cpimhoff commented on #53
might be able to fix this just a tad by increasing whatever the location of our '_pivot point_' is.

[2017-01-16 02:01] grahamearley opened #57 "Improve TwineNode on-screen GUI for displaying TwineNode details"
Fix the size of the GUI, etc

[2017-01-16 08:09] mjavaly opened #58 "Change prompt in FirstPersonInteractor to be blank / Custom GUIs"
If the "prompt" variable in FirstPersonInteractor were the empty string "", instead of "Press F to", changing the "prompt" within an interaction script could directly change the GUI box on screen (helpful for when interacting with an object changes the user's options i.e. Tumble, Swivel)

[2017-01-17 21:05] cpimhoff commented on #51
Documentation located at:
https://github.com/mjavaly/Prairie/wiki/Importing-Prairie-into-a-Unity-Project

but we should move some built in prefabs (such as _Player_ out of `Prototype` and into `Framework/Prefabs`)

[2017-01-17 21:05] #51 closed, assigned to cpimhoff

[2017-01-17 22:04] Donahuec opened #59 "Refactoring Player, Prompt, and GUI drawing"
Refactor player onGUI method the handle interactions and annotations separately, as well as change how prompts work

[2017-01-17 22:09] Donahuec opened #60 "Remove Demos from beginning of last term from Repo"

[2017-01-17 22:31] grahamearley opened #62 "Support for multiple scenes"
General menu system for switching between scenes.

[2017-01-17 22:33] grahamearley opened #63 "Make a stable release for Austin's class"
(re: the Boston Massacre)

[2017-01-17 22:34] brennan724 commented on #60
DONE with PR #61

[2017-01-17 22:34] #60 closed, assigned to brennan724

[2017-01-17 22:50] cpimhoff commented on #59
#### To stub out
* Player indirectly draws prompt, summary. Directly draws toolbar.
* `Player.areaAnnotationsInBounds` property (for coordination with annotations with area trigger)
* `AnnotationInteraction.hasSummary` and `AnnotationInteraction.drawSummary()`

* required component `Prompt`
    * remove drawing "press F to.." from `Player`
* refactor player `highlightedObject` tracking

* refactor

[2017-01-17 22:51] cpimhoff commented on #58
duplicate. See #59

[2017-01-17 22:51] #58 closed, assigned to mjavaly

[2017-01-17 22:53] cpimhoff commented on #52
Please create this function on a `Editor/PrairieGUI` class

[2017-01-17 22:54] cpimhoff commented on #54
Two triggering types:
* Touch
* Area

_Touch_ type also has the ability to add a summary, which is drawn when pointed at, in a separate area.

[2017-01-17 22:55] cpimhoff commented on #56
https://github.com/mjavaly/Prairie/wiki/Workflow-walkthrough:-Creating-a-basic-story-with-Prairie

[2017-01-18 03:48] grahamearley commented on #56
Done!

[2017-01-18 03:48] #56 closed, assigned to grahamearley

[2017-01-18 04:45] cpimhoff commented on #59
- `FirstPersonInteractor`
    -  `private void drawToolbar(List<AnnotationInteraction> annotations)`

[2017-01-18 04:53] grahamearley commented on #57
Done. See #64

[2017-01-18 04:53] #57 closed, assigned to grahamearley

[2017-01-18 05:16] grahamearley commented on #59
While we're at it, we should include TwineNode text drawing in here too.

It's possible for there to be lots of GUIs being drawn on the player's screen and we should make sure there's no overlap or ugliness!

[2017-01-18 05:17] cpimhoff commented on #59
## API Changes

#### Manipulating the Player through Interactions
Freezing the player can no longer be done via the extension method. Interactions must get a reference to the player through `GetPlayer()` then use `player.SetCanMove(bool)`.

This is inline with the similar action of stopping GUI drawing for the player `player.SetDrawsGUI(bool)`

    - removed `FirstPersonInteractor`**:** `public vo

[2017-01-18 05:53] cpimhoff commented on #59
Implemented and documented in PR #65.

[2017-01-18 05:53] #59 closed, assigned to cpimhoff

[2017-01-18 05:55] cpimhoff commented on #37
Prompt collision is solved in PR #65.

Multiple interactions are handled (in part) in PR #65, by splitting up inputs for annotation based interactions (`Annotation`, `Slideshow`) from purely interactive types (`NextTwine`, `Toggle`, `Swivel`, etc).

[2017-01-18 05:56] #37 closed, assigned to nobody

[2017-01-18 05:57] cpimhoff commented on #53
@mjavaly did you mention that you were able to fix this?

[2017-01-18 17:16] grahamearley commented on #62
And also holding state between scenes (i.e. remembering what TwineNode is active when you enter a new scene)

[2017-01-18 18:12] mjavaly commented on #53
Yep! Just waiting for your GUI/player changes to be pulled in.

[2017-01-18 21:22] grahamearley opened #66 "Finalize full abstract walkthrough tutorial(s)"
Right now, the basic walkthrough tutorial assumes quite a bit of knowledge about Twine, Unity, and Prairie. We should emphasize that this tutorial is **not** meant to be the starting point for using Prairie (or, it could be the starting point, as long as it points to smaller tutorials for each concept it uses).

Also, we should re-do the GIFs and perhaps make them into small YouTube videos or GIFv

[2017-01-18 21:52] cpimhoff opened #67 "Area Annotations"
Currently, there is not much scaffolding or support for area based interactions. This needs to be created.

### Player Area Annotations Property
`FirstPersonInteractor.areaAnnotationsInRange` __must be coordinated and set by appropriate area annotations__ as the player enters and exits their bounding boxes.

[2017-01-18 21:55] cpimhoff opened #68 "Player Toolbar"
### Player Toolbar
The player will automatically draw a toolbar with `.areaAnnotationsInRange` as its contents using `drawToolbar(annotations)`. This function must be implemented.

We also need a good way to activate items in that toolbar...

[2017-01-18 21:57] cpimhoff opened #69 "Annotation Summary"
### Annotation drawing Summary
Annotations must be given a summary field and draw it to screen (if it exists) inside of `Annotation.DrawSummary()`.

[2017-01-19 15:54] cpimhoff opened #70 "Rename AnnotationInteraction, SlideshowInteraction"
to just `Annotation` and `Slideshow`

[2017-01-19 16:01] cpimhoff opened #71 "Move Player Prefab into Framework/Prefab"
This prefab is far too important to not ship.

[2017-01-19 16:18] grahamearley opened #72 "Make a one-click importer for all annotations"
For example, suppose a user has a directory with a bunch of text files with names that match Game Objects. This importer would go through that folder and add each text file to an annotation about the Game Object that matches the name of the text file.

This is pretty brittle (changing names of objects would stop the importer from working). We need to discuss this further and think about how it wou

[2017-01-19 16:47] grahamearley opened #73 "Make TwineNode text minimizable"
When you enter a new TwineNode, it will open the TwineNode text GUI, but you can press some button to minimize it.

[2017-01-19 16:47] grahamearley commented on #73
Try to add animations too!

[2017-01-19 16:51] grahamearley opened #74 "Make Prairie into a Unity package"
for easier import!

[2017-01-19 16:52] apjmason commented on #72
Resources.LoadAll might be useful here.  https://docs.unity3d.com/ScriptReference/Resources.LoadAll.html

[2017-01-19 17:17] cpimhoff commented on #74
and so we can put it on the store and make that good good cash money

[2017-01-19 19:05] grahamearley commented on #74
Done! Check out the [Releases](https://github.com/mjavaly/Prairie/releases) page.

[2017-01-19 19:05] #74 closed, assigned to grahamearley

[2017-01-19 19:06] grahamearley commented on #63
See #74 for link to the release.

[2017-01-19 19:06] #63 closed, assigned to grahamearley

[2017-01-19 19:49] grahamearley commented on #73
Basic version implemented in #75

[2017-01-19 20:23] cpimhoff commented on #70
Resolved on PR #76

[2017-01-19 20:23] #70 closed, assigned to cpimhoff

[2017-01-19 20:24] cpimhoff commented on #71
Resolved on PR #76

[2017-01-19 20:24] #71 closed, assigned to cpimhoff

[2017-01-19 20:26] cpimhoff commented on #53
Alrighty, are we all set for this now?

[2017-01-19 20:32] #73 closed, assigned to grahamearley

[2017-01-19 20:33] cpimhoff opened #77 "Prune old Branches"
We should start deleting old branches after they've been merged into `master`.

No need to keep a bunch of these around...

[2017-01-19 20:44] mjavaly commented on #53
We are. I just made a PR for it, along with some other things.

[2017-01-19 21:44] grahamearley commented on #77
Just pruned all my merged `graham/...` branches!

[2017-01-20 03:43] brennan724 commented on #77
Pruned mine as well

[2017-01-20 04:53] Donahuec commented on #77
pruned all of mine earlier too

[2017-01-20 04:54] Donahuec commented on #69
I've implemented the basics of this. I'm still playing around with some little details, will probs do a pull request after meeting with @mjavaly tomorrow

[2017-01-20 05:07] cpimhoff commented on #77
I think we should get in the habbit of deleting the branch after merge. Github even suggests to do so after you click 'merge'

[2017-01-20 05:07] #77 closed, assigned to mjavaly, cpimhoff, Donahuec, shoemakerc

[2017-01-20 17:52] grahamearley opened #79 ""Next Twine Node Interaction" is a confusing name"
(note from user demo)

[2017-01-20 17:57] grahamearley commented on #79
Refactored this concern into another issue (#82)

[2017-01-20 18:04] apjmason opened #80 "Add debug.DrawRay to Interactor"
Could we add debug.drawray so the raycast is visible in the scene window?

https://docs.unity3d.com/ScriptReference/Debug.DrawRay.html

[2017-01-20 18:56] grahamearley commented on #80
Would be a good UI option to let game creators see how far out the ray cast goes from the interactor

[2017-01-20 19:01] grahamearley opened #81 "Add thought/decision-based TwineNode interactions"
Right now, there are two main types of TwineNode interactions: area-based (e.g. entering a room), and click-based (e.g. clicking a light switch).

But there's a third type that shows up in some of the Workhouse Twine stories: the player can make a decision (without explicity doing anything in the space) that will change what options are presented to them.

For example, the player could wake up in

[2017-01-20 22:12] cpimhoff opened #82 "Prompt Sensible Defaults on Addition"
From user testing:

[2017-01-20 22:14] cpimhoff commented on #82
I have an idea for how to aid this.

When the user adds an interaction, and the prompt is auto-added, it is populated with a sensible default based on the interaction added.

This default can be overridden at will, this is only an auto populated default.

[2017-01-20 22:14] cpimhoff commented on #80
`OnDrawGizmosSelected()` inside `FirstPersonInteractor` seems like a good candidate to perform this drawing.

[2017-01-20 22:20] cpimhoff commented on #53
Closed and merged via #78

[2017-01-20 22:20] #53 closed, assigned to mjavaly

[2017-01-20 22:53] grahamearley opened #83 "Make `Next Twine Node Interaction` take multiple TwineNodes, and update its name"
This might be more intuitive than having the user add multiple interactions for each potential Twine node.

[2017-01-20 23:00] cpimhoff commented on #82
See PR #84

[2017-01-20 23:00] cpimhoff commented on #82
Defaults provided via PR #84

[2017-01-22 23:29] cpimhoff commented on #83
I can dig this - Potential issue with our desire to have the dropdown to choose a TwineNode (we'd have to nest the array GUI thing and our dropdown thing).

[2017-01-23 01:10] grahamearley commented on #81
This could be a tag on the twine node too (i.e. `decision`) so that the importer will automatically make it a decision

[2017-01-23 01:32] brennan724 commented on #82
Here is a possible way to get around this issue.  Get rid of the prompt of 'press whatever to do stuff', and just put a glow/halo around the object that is being focused on.  Similar to how prompt is automatically put on, you just put the halo on.  The video below shows an example of putting a halo on (but not using it in the way we intend to): https://www.youtube.com/watch?v=pcenAa7oNII

[2017-01-23 01:40] #82 closed, assigned to cpimhoff

[2017-01-23 01:57] brennan724 opened #87 "Finish TwineNodes page"
The wiki page needs to be finished.  I'll finish this sometime soon.

[2017-01-23 02:15] cpimhoff commented on #52
PR #86

[2017-01-23 02:17] cpimhoff commented on #79
Maybe `ProgressTwineStory`? I don't know...
Anybody else?

[2017-01-23 06:19] #52 closed, assigned to brennan724

[2017-01-24 03:44] shoemakerc commented on #50
Per our meeting yesterday, we agreed that the implementation of this function would likely only be useful for choosing available nodes to go into our `NextTwineNodeInteraction` (or whatever other name we will change it to).  I have localized the implementation in a new `NextTwineNodeInteractionEditor` script in my working branch.

---

So the issue I've been facing (and what has been keeping me fr

[2017-01-24 18:55] grahamearley commented on #50
Is there a way to make the dropdown show all child GameObjects of a TwineNode (the ones with a `TwineNode` component)? And then when you access the GameObject in the menu, you can use `object.GetComponent<TwineNode>()` to get the TwineNode if you need it.

You should be able to access the children GameObjects of a TwineNode object using `twineNode.children`. This will give an array of GameObjects

[2017-01-26 16:53] #69 closed, assigned to Donahuec

[2017-01-26 18:48] cpimhoff opened #90 "Twine Status Window Screen Space"
The Twine Status box has some strange behavior and funky margins on different large and small screen sizes.

[2017-01-26 19:08] grahamearley commented on #90
We should standardize all our HUD sizing. Let's talk about it at our next meeting

[2017-01-26 19:49] #68 closed, assigned to mjavaly

[2017-01-26 19:49] #67 closed, assigned to mjavaly

[2017-01-26 19:50] #54 closed, assigned to mjavaly, Donahuec

[2017-01-26 21:57] grahamearley commented on #81
See PR #91

[2017-01-26 22:02] grahamearley commented on #50
Boom. Thanks #89

[2017-01-26 22:02] #50 closed, assigned to grahamearley, shoemakerc

[2017-01-26 22:11] grahamearley opened #92 "Write wiki article about how to write Twine stories for Prairie"
There are some general structure tips for a Twine story to work best in Prairie (i.e. storing "variables" in your states, setting up states that result from clicking on things, etc).

There is also at least *one* tag that you can use to get some Prairie functionality: `prairie_decision` (see #91). So we should document this too.

[2017-01-26 22:12] grahamearley opened #93 "Check status of TwineJson dependency -- ensure that it always works.."
Does TwineJson not work for large Twine stories? Can we fix it somehow?

Let's find out.

[2017-01-26 22:15] grahamearley opened #94 "Make a more complex and "real" demo with the Workhouse model or something similar"
This could raise some new issues or give us more ideas on what is good/bad about the Prairie workflow.

It will also give us a more interesting demo to show than the abstract game with spheres and cylinders! 🎮

*(Note: this probably won't be a tutorial itself -- but it would help us see what steps need more documentation).*

[2017-01-29 22:51] cpimhoff commented on #90
I'm happy to just do this based on the same margin logic I wrote for the player toolbar -- we already defined the regions of the screen we each have access to.

[2017-01-30 01:41] grahamearley opened #95 "Make TwineNode inspector GUI read-only"
Make the inspector only show title, body text, and maybe a link to the parent / children.

[2017-01-30 01:42] grahamearley commented on #81
Remove coupling of tags and `isDecision` checkbox.

And make the importer check for `prairie_decision` tag.

Don't update the tags when you check that 'isDecision' box!

[2017-01-30 01:53] grahamearley opened #96 "Delete broadcast interactions"

[2017-01-30 02:00] brennan724 commented on #95
Make 'Name', 'Tags', 'Children', 'Parents' unchangeable (links for the last two).  Allow 'content' to be changeable (make into a larger text box if possible).

[2017-01-30 02:04] grahamearley opened #97 "🎨 Custom GUI! Audio interaction edition"

[2017-01-30 02:04] grahamearley opened #98 "🎨 Custom GUI! Component Toggle interaction edition"

[2017-01-30 02:04] grahamearley opened #99 "🎨 Custom GUI! Next Twine Node interaction edition"

[2017-01-30 02:05] grahamearley opened #100 "🎨 Custom GUI! Tumble interaction edition"

[2017-01-30 02:05] grahamearley opened #101 "🎨 Custom GUI! Swivel interaction edition"

[2017-01-30 02:05] grahamearley opened #102 "🎨 Custom GUI! Slideshow interaction edition"

[2017-01-30 02:05] grahamearley opened #103 "🎨 Custom GUI! Trigger interaction edition"

[2017-01-30 02:06] grahamearley opened #104 "🎨 Custom GUI! Prompt edition"

[2017-01-30 02:06] grahamearley opened #105 "🎨 Custom GUI! FirstPersonInteractor edition"

[2017-01-30 02:15] mjavaly opened #106 "Redo Annotations Wiki"
Since redoing the mechanics of adding/editing annotations, the current wiki entry is out of date.

[2017-01-30 02:19] grahamearley commented on #81
Tell Brennan when you're done, since this is blocking his GUI issue!

[2017-01-30 02:25] grahamearley opened #107 "Make more issues for us to squash"

[2017-01-30 07:14] cpimhoff commented on #107
Squashed!

[2017-01-30 07:14] #107 closed, assigned to grahamearley

[2017-01-30 17:23] grahamearley commented on #93
If we can't get TwineJson to work consistently, we could also look into writing our own parser for one of the default Twine export styles.

[2017-01-30 17:24] brennan724 commented on #93
We could.  It wouldn't be fun.  Would it not be easier to PR his with a non json.stringify method?

[2017-01-30 17:26] grahamearley commented on #93
Probably, but I still have to look into how that works. Just putting this here as a note for what we could do if this doesn't work out.

[2017-01-30 22:23] cpimhoff commented on #105
on `cpimhoff/custom-inspectors`
not PR'd yet

[2017-01-30 22:24] cpimhoff commented on #104
on `cpimhoff/custom-inspectors`
not PR'd yet

[2017-01-30 22:24] cpimhoff commented on #99
Our current one is looking pretty swell - not sure how much more I feel needs to be done

[2017-01-31 16:10] grahamearley commented on #81
Changes made, pushed into #91

[2017-01-31 16:10] #81 closed, assigned to grahamearley

[2017-01-31 16:11] grahamearley commented on #95
@brennan724 My pending changes that were blocking you are in #91 now, so you're good to go as soon as that gets pulled in!

[2017-01-31 16:14] grahamearley commented on #99
I'm actually going to take this, since it's similar to #83. I'll rename it and work on having it hold multiple TwineNodeInteractions.

Going to close this issue since it's pretty much contained in #83.

[2017-01-31 16:14] #99 closed, assigned to grahamearley, cpimhoff

[2017-01-31 16:16] grahamearley commented on #79
Folding this into #83

[2017-01-31 16:16] #79 closed, assigned to grahamearley

[2017-01-31 16:18] grahamearley commented on #83
I'm actually thinking maybe "Associated Twine Node(s)" might be the best name for this (especially removing Interaction entirely). Really, what the user is doing is *associating* a TwineNode with a particular object that is interacted on.

Let's talk about this at our meeting today.

[2017-01-31 18:01] cpimhoff opened #109 "Our Slack has "Gone to the Dogs""
The icon and the amount of parrot gifs are out of control.

[2017-01-31 19:28] grahamearley commented on #83
Multiple node input is in PR #110.

Still waiting on the rename though.

[2017-01-31 21:21] grahamearley commented on #109
:parrot_fieri:

[2017-01-31 21:31] grahamearley commented on #109
Deprioritize

[2017-01-31 21:31] brennan724 commented on #109
I think the title should be changed to "Gone to the Parrots"

[2017-01-31 21:31] grahamearley commented on #109
Yeah, file an issue for that

[2017-01-31 21:32] shoemakerc commented on #109
![run](https://media.tenor.co/images/20674e2d0b63bc28d7712a3ea459097f/raw "run parrot run!")

[2017-01-31 21:41] shoemakerc opened #112 "Rename all custom GUI files with the suffix `-Inspector.cs` to have the suffix `-Editor.cs`"
For consistency.

Also do the same for the directory in which these files are stored (i.e. `CustomInspectors/` --> `CustomEditors/`).

[2017-01-31 22:05] shoemakerc commented on #102
On branch `chris/custom-inspectors`

Creating this custom GUI is pretty straightforward (thanks `PrairieGUI.drawObjectList`!), and is potentially useful, since it shows the images being added to the slideshow as thumbnails.  However, this doesn't space too well on the inspector:

![Texture Custom GUIs](http://i.imgur.com/wi18uBs.jpg "Yeesh")

Gonna tackle this a bit more to see if I can format the

[2017-02-01 06:43] cpimhoff commented on #112
BLOCKED until we finish up the editors themselves.

[2017-02-01 06:44] cpimhoff commented on #109
Now that our github issue tracker has also "gone to the parrots", I'm at least content with the consistency.

[2017-02-01 06:44] #109 closed, assigned to nobody

[2017-02-02 07:51] cpimhoff opened #113 "Remove text files that denoted what certain folders should be"
There aren't needed anymore.

- `Assets/Editor/editor.txt`
- `Assets/Framework/framework.txt`
etc.

[2017-02-02 08:22] cpimhoff commented on #105
PR #114

[2017-02-02 08:22] cpimhoff commented on #104
PR #114

[2017-02-02 08:22] cpimhoff commented on #103
PR #114

[2017-02-02 14:15] #105 closed, assigned to cpimhoff

[2017-02-02 14:16] #104 closed, assigned to cpimhoff

[2017-02-02 14:16] #103 closed, assigned to cpimhoff

[2017-02-02 14:16] grahamearley commented on #102
Love the hidden "Yeesh" comment on that image :)

[2017-02-02 14:29] grahamearley commented on #83
will move the rename part to a separate issue

[2017-02-02 14:29] #83 closed, assigned to grahamearley, cpimhoff

[2017-02-02 14:30] grahamearley opened #115 "Rename NextTwineNodeInteraction to AssociatedTwineNodes"
Because what the user is doing is associating a TwineNode with a particular object that is interacted on.

[2017-02-02 16:09] #90 closed, assigned to nobody

[2017-02-02 16:37] grahamearley opened #116 "Fold the Trigger Area into FirstPersonInteractor (remove the Trigger Area component)"

[2017-02-02 16:38] grahamearley commented on #113
File this under DELETE SPREE, along with #96

[2017-02-02 18:57] grahamearley opened #118 "Automate linking of Twine nodes to `Associated Twine Node` components"
I'm thinking that we should make the first dropdown try to go to a node matching the name of the component's GameObject. Otherwise, default to index 0.

[2017-02-02 18:59] brennan724 commented on #118
I like this idea, especially since people will probably name them the same things.  We'll have to make sure that if we are searching by name, then we get the appropriate object (get a twine node when we want a twine node, and not end up with the in-game object instead).

[2017-02-02 21:46] grahamearley commented on #115
Oops forgot that we already did this! See #111

[2017-02-02 21:46] #115 closed, assigned to grahamearley

[2017-02-04 15:27] grahamearley commented on #118
Done, in #119! 💥

[2017-02-04 15:27] #118 closed, assigned to grahamearley

[2017-02-04 18:08] grahamearley commented on #93
Here's an alternative: https://github.com/lazerwalker/twison

This one appears to work for more complex/big Twine stories. To use it, we would just need to modify our importer to use the slightly different naming that this json output uses. Also, it includes the  part that links to the next nodes (e.g. `[[LINK]]`) in the body text of each node, so we'd need to remove that too.

The biggest downsid

[2017-02-05 18:36] grahamearley commented on #93
Started transition to Twison in PR #121

[2017-02-05 23:23] Donahuec opened #122 "Misleading error on Annotation"
When creating an area annotation without  isTrigger set, the inspector has an error saying that it requires a collider, but the button says to 'Set to Trigger.' This is misleading, as both types of annotations require a collider, and it doesn't mention anything about isTrigger in the warning.

[2017-02-06 22:07] #101 closed, assigned to mjavaly

[2017-02-06 22:07] #100 closed, assigned to mjavaly

[2017-02-06 22:08] #102 closed, assigned to shoemakerc

[2017-02-06 22:08] #97 closed, assigned to shoemakerc

[2017-02-07 01:00] Donahuec commented on #106
One page rewritten, and two pages added :D

[2017-02-07 01:00] #106 closed, assigned to mjavaly, Donahuec

[2017-02-07 01:11] #98 closed, assigned to shoemakerc

[2017-02-07 01:26] #95 closed, assigned to brennan724

[2017-02-07 01:34] grahamearley opened #124 "Make a jeff emoji"
for slack

[2017-02-07 01:37] cpimhoff commented on #122
Just looked at mah code - yeah that sucks. I'll fix.

[2017-02-07 01:42] #87 closed, assigned to brennan724

[2017-02-07 01:42] #93 closed, assigned to grahamearley

[2017-02-07 01:43] #92 closed, assigned to grahamearley

[2017-02-07 01:43] #94 closed, assigned to grahamearley

[2017-02-07 01:43] grahamearley commented on #66
we're no longer doing documentation issues!

[2017-02-07 01:43] #66 closed, assigned to grahamearley

[2017-02-07 01:44] #112 closed, assigned to nobody

[2017-02-07 01:45] grahamearley commented on #113
Also delete Documentation folder from the root directory

[2017-02-07 01:52] grahamearley commented on #55
How about labels!!!?

[2017-02-07 01:54] Donahuec opened #125 "Adjust Prompt requirements"
add extra layer to prevent annotations from requiring prompts

[2017-02-07 01:55] cpimhoff commented on #62
If this is in reference to embedded scenes, then Unity isn't really down with that. A single render pass can only reference a single scene, so two scenes intersecting in a single "parent scene" isn't supported.

This idea with regard to data movement between scenes seems much more difficult and potentially emcourages bad practice (Unity scenes should be generally, wholesale environments, not shard

[2017-02-07 02:01] Donahuec opened #126 "Area Annotation Toolbar sizing"
Adjust toolbar to avoid character cutoffs, as well as preventing text from extending past the end of the toolbar

[2017-02-07 02:51] Donahuec opened #127 "Find away to organize interactions in component menu"
We should find a way to have all of the interactions show up in the component menu when searching 'interaction' or 'prairie'.

[2017-02-07 04:59] cpimhoff commented on #125
Closed via PR #129

[2017-02-07 04:59] #125 closed, assigned to Donahuec

[2017-02-07 05:00] cpimhoff commented on #96
Closed on PR #129

[2017-02-07 05:00] #96 closed, assigned to cpimhoff

[2017-02-07 05:22] cpimhoff commented on #124
![jeff](https://media.giphy.com/media/l0ExjMViUGj5GQrqE/giphy.gif)

[2017-02-07 05:22] #124 closed, assigned to cpimhoff

[2017-02-08 08:36] cpimhoff commented on #122
resolved on PR #130

[2017-02-08 08:36] #122 closed, assigned to cpimhoff

[2017-02-08 08:36] cpimhoff commented on #113
resolved on PR #130

[2017-02-08 08:36] #113 closed, assigned to cpimhoff

[2017-02-08 08:36] cpimhoff commented on #80
resolved on PR #130

[2017-02-08 08:36] #80 closed, assigned to cpimhoff

[2017-02-08 16:11] grahamearley commented on #126
This was done in #128! 👨‍🎤

[2017-02-08 16:11] #126 closed, assigned to mjavaly

[2017-02-08 23:16] cpimhoff commented on #127
resolved on #131

[2017-02-08 23:16] #127 closed, assigned to nobody

[2017-02-09 01:57] mjavaly opened #132 "When object is rotated in the scene, gizmos do not also rotate"
The gizmos seem to be very rigid. Is there a way to fix this?

[2017-02-09 02:02] mjavaly commented on #132
Here's a picture of the resulting scene editor: ![](https://cloud.githubusercontent.com/assets/7783266/22766140/6771f418-ee39-11e6-886f-36270740959d.png)

[2017-02-09 03:11] grahamearley commented on #132
Yeah, this was [one of my concerns with the gizmos stuff](https://github.com/mjavaly/Prairie/pull/45#issuecomment-271089844). I think we should just remove this particular gizmo.

[2017-02-09 03:18] brennan724 commented on #132
Is it easy/quick to make the gizmo rotate?  If it is/doesn't take a lot of time, then it could be worth it.  Otherwise, I agree with Graham that exterminating is is the better way to go.

[2017-02-09 03:19] grahamearley commented on #132
Let's talk about this tomorrow.

I think it's not very helpful in the first place, since you only tumble objects in the actual game. When the gameplay is stopped, the object resets. So I don't think the gizmo is really telling you anything while you're just in the scene view.

[2017-02-09 03:20] shoemakerc commented on #132
I think way back when I was first toying around with Gizmos, one of the issues I had was trying to get meshes (what we see above) to rotate with the object in play mode.  As far as I know, there's no easy way to do so.

I'm all for removing it, unless one of us (Charlie) has an idea.  Regardless, we should talk about this tomorrow.

[2017-02-09 05:57] cpimhoff commented on #132
### Minor Gizmo Rant
I noticed that sometimes the Unity Editor doesn't really prioritize Gizmo drawing. Sometimes editing a value reflected in a Gizmo leads to immediate feedback via the Gizmo, sometimes it doesn't.

I've yet to be able to really pin down when Unity decides to actually update the Gizmos in real-time, and when it tosses Gizmos to a non-critical queue. But that's sort of unrelated.

[2017-02-09 06:00] cpimhoff commented on #72
Judging by the direction we went with Annotations, I'm not sure address this issue _in this way_ continues to be relevant.

Perhaps more along the lines of what we did with providing guesses for the `AssociatedTwineNode` editor (see #119) would be eliminate some of the manual work but also keep us from having to create a bunch of restrictions on people's directory structures?

[2017-02-09 06:08] cpimhoff commented on #55
HEARTBREAK CITY POPULATION ME.

The only way to assign a GameObject label programmatically is via exploiting undocumented, private API through reflection (yikes). Additionally, since our content is saved to a prefab, not actually preserved in the scene, the label attribute would be wiped.

[2017-02-09 06:15] brennan724 commented on #55
Such sadness...

[2017-02-09 17:15] shoemakerc commented on #132
Resolved by PR #133

[2017-02-09 17:15] #132 closed, assigned to shoemakerc

[2017-02-09 17:36] cpimhoff commented on #55
I think we're just going to cut this Gizmo - with large stories, it'll just add confusion and make things _more_ difficult.

Not worth the clear difficulty of making it happen.

[2017-02-09 23:15] cpimhoff commented on #116
on PR #134

[2017-02-09 23:15] #116 closed, assigned to cpimhoff

[2017-02-09 23:16] cpimhoff opened #135 "Prompt for Deactivated Interactions"
If an interaction is deactivated, the prompt could become out of date - or at the very least, could still be displayed even though all the interactions no longer apply to an object. In more abstract terms, there is no way to define a change to the prompt as the editor of the game.

Now that we've sorta dropped "repeatable" in many of our interactions, maybe this isn't a big deal? But I feel like i

[2017-02-09 23:19] cpimhoff commented on #135
example:

[2017-02-09 23:21] cpimhoff opened #136 "Door Rotation Axis Picking"
In our brief demo this morning, it seemed the `Swivel` interaction didn't always select the correct pivot point (wrong axis).

It should pick the correct axis for pivot based on whether its width (length along x axis) or depth (length along z axis) is greater.

[2017-02-10 20:39] grahamearley commented on #135
Hmm. Interesting point. Another conundrum that relates to your example:

What if you want the prompt to say "Open the door" when the door is closed and "Close the door" when the door is open?

I'm not sure how we could make prompts more conditional, but I don't think this is a use-case we should ignore.

[2017-02-10 21:23] cpimhoff commented on #135
Dear Graham,
Your example is SO much better than mine.

[2017-02-10 21:25] Donahuec commented on #135
This is something I have thought a little bit about (also specifically with doors). I think I have a bit of an idea of how to implement having cycling prompts, as well as disabling them. I can take a stab at implementing it this weekend if you'd like.

[2017-02-10 21:36] grahamearley commented on #135
What's your idea?

I think cycling prompts could solve the door thing, if by "cycling" you mean there are `n` prompts and prompt `i` always shows up on the `i % n`th interaction.

But there are still more complex cases like what Charlie said, where you might want your prompt to say *Click to open the door and play some crazy music* and then next time you interact with the door, it doesn't have the

[2017-02-10 22:05] cpimhoff commented on #135
I agree with @grahamearley that I'd like to hash out @Donahuec's potential solution before we jump to implementation, since it could, in theory, involve some fair amount of complexity.

[2017-02-10 22:08] Donahuec commented on #135
I'll hash out my idea later tonight. Right now I'm focusing on trying to figure out CG homework that i missed all the classes about...

[2017-02-11 02:36] Donahuec commented on #135
Thinking about things being more complex, you're right in that we might want to consider exactly how complex we want to let the user's make it. I'll think about it some more, and we should just discuss it on Sunday and work from there.

[2017-02-11 03:01] mjavaly commented on #135
One idea is to give Prompt two text fields - one for before the PerformAction() method is called from the Interaction (for a door, "Click to Open") and then one for afterward ("Click to Close"). Just an idea - I'm pretty sure two components attached to an object can talk to each other, so it may not require as complex an implementation as we thought.

[2017-02-12 20:16] brennan724 opened #138 "Move SimpleJSON.cs so it is included in the builds"
In the in-dev build installation, we don't include simpleJSON.cs.  I don't actually know if it is included in the build at the moment.  Should we move it somewhere so it is included/is included in the in-dev build installation?

[2017-02-12 20:19] brennan724 commented on #138
Edit: Plugins are included in the unitypackage.  I'll add that as something to take in the wiki.

[2017-02-12 20:19] #138 closed, assigned to nobody

[2017-02-13 01:13] grahamearley opened #139 "Add Repeatability back to the Interactions GUI"
We left the "repeatable" checkbox out when we made all our custom GUIs. Let's get it back!

[2017-02-13 01:19] grahamearley commented on #135
To keep things relatively simple, we'll just offer 2-cycles (mostly for toggley things and doors)

[2017-02-13 03:48] shoemakerc commented on #139
Gonna put out a rough list of all interactions in our toolbox so far, grouped on my perspective on whether or not we should make the `repeatable` bool checkbox visible or not.  Here's what I have so far:

**Repeatability == visible**
* `AudioInteraction`
* `ComponentToggleInteraction`
* ~~`PromptInteraction`~~
* `TriggerInteraction`

**Repeatability != visible**
* `AssociatedTwineNodes`
* `DebugIn

[2017-02-13 03:53] brennan724 commented on #139
I think AssociatedTwineNodes should be under != visible.  Because we want that to always be active (cycles).

[2017-02-13 03:56] shoemakerc commented on #139
Ooh yeah my bad, that was actually meant to be under != visible in the first place.

[2017-02-13 15:46] grahamearley commented on #139
Looks good!

[2017-02-13 17:30] cpimhoff commented on #139
The abstract base class,  `PromptInteraction`, shouldn't be on either side of this list, since we don't provide a GUI for it.

Other than that, this seems good to me.

By making `TriggerInteraction` non-repeatable, you can _effectively_ make any interaction non-repeatable, which I like as sort of a back-up workaround for edge cases.

[2017-02-13 17:51] grahamearley opened #140 "Allow Annotations to be turned on/off (globally)"
Austin suggested that we allow users to turn on/off annotations.

To do this, we could add a boolean checkbox to the Prairie Player, called `Annotations Enabled` or something like that. Then every time we `Interact()` with an `Annotation`, we can check if annotations are enabled before showing the GUI.

[2017-02-13 18:01] cpimhoff commented on #140
I'll crush.

[2017-02-13 18:14] Donahuec commented on #140
Should we make a way to toggle it in game, or allow that as about option?

[2017-02-14 03:36] cpimhoff commented on #140
My intention was to make it toggleable from editor as a first step - we can hash out how exactly we want that lever pulled at runtime if need be.

[2017-02-14 21:25] cpimhoff commented on #139
bam

[2017-02-14 21:25] #139 closed, assigned to shoemakerc

[2017-02-15 20:09] grahamearley commented on #140
DONE in PR #142

[2017-02-15 20:09] #140 closed, assigned to nobody

[2017-02-15 23:42] cpimhoff opened #144 "Null Reference Errors in Editors"
When the array in certain interactions has size > 0, but some items are blank, the console just goes ham with null reference errors. Must be that our PrairieGUI functions don't handle this case well.

[2017-02-16 01:41] Donahuec opened #145 "Escaping Tumble! (and maybe make it better???)"
Currently the mouse click to escape tumble requires the mouse to be on the item, which is problematic if you have rotated the object out of the scope of the mouse, then you cannot escape it without rotating it back in. We should change this to escape on any left mouse click.

Some other potential changes:
- Currently some (all?) objects rotate painfully slowly
-Potentially make it so an object get

[2017-02-16 04:03] Donahuec opened #146 "Prompts on Twine nodes"
We should consider making it so that if there are multiple twine nodes associated with an object, and no other interactions, that the prompt only shows up when a twine interaction is currently available. Maybe a long-shot, but we could consider making it so that the prompt could be specific to the current twine node as well.

For example, in the demo we were making, there were three different meal

[2017-02-16 14:59] cpimhoff commented on #146
I'm happy to field this.

[2017-02-16 16:31] Donahuec opened #148 "Swap Keys on Twine Info"
tab for scroll, q for hide?

[2017-02-16 16:32] grahamearley commented on #148
I'll give it a go!

[2017-02-16 16:34] Donahuec opened #149 "Add editor utility to make notes gray alternative to red"
Make gray version of prairiewarning for non- critical messages

[2017-02-16 16:37] grahamearley commented on #146
^ Make the Prompt component have multiple fields if there are multiple associated Twine nodes (so there is one prompt per TwineNode). Then make a check for which node has an active parent when drawing the prompt (and if no active parent, no prompt!!)

[2017-02-16 16:46] #136 closed, assigned to mjavaly, cpimhoff

[2017-02-17 02:48] grahamearley commented on #148
see #50

[2017-02-17 02:48] #148 closed, assigned to grahamearley

[2017-02-18 01:35] cpimhoff commented on #149
Resolved on #151

[2017-02-18 01:35] #149 closed, assigned to cpimhoff

[2017-02-18 01:35] cpimhoff commented on #146
Resolved on #151

[2017-02-18 01:35] #146 closed, assigned to cpimhoff

[2017-02-18 01:36] cpimhoff commented on #135
- Cycles were offered on #147
- Twine Prompts were offered on #151

[2017-02-18 01:36] #135 closed, assigned to cpimhoff, Donahuec

[2017-02-18 22:12] brennan724 opened #152 "Make Twine prompts use the default prompt for single ones instead of the special inspector"

[2017-02-20 01:06] shoemakerc opened #154 "This repo has not been starred by everyone in this group"
What is this, everyone.  Get on it.

[2017-02-20 01:07] grahamearley commented on #154
Blocking

[2017-02-20 01:39] #154 closed, assigned to ondich, grahamearley, mjavaly, cpimhoff, brennan724, Donahuec, shoemakerc

[2017-02-20 01:45] Donahuec opened #155 "Changes not always saved/ recognized"
It seems that Unity has some issues recognizing some changes in the custom inspectors as changes to the scene, and then fails to save them. If you do something that Unity does recognize as a change, such as adding a new game object, the changes get saved. This only seems to happen some of the time, and is only noticeable upon exiting Unity and reopening it.

For example, if you add an annotation t

[2017-02-20 04:54] cpimhoff commented on #155
Scenes are the only Unity asset that have to be manually saved, no?

Is this a problem that happens even if the scene is explicitly saved?

[2017-02-20 06:22] brennan724 commented on #155
yes, it's still a problem when the scene (and the project) is explicitly saved.

[2017-02-21 01:38] brennan724 commented on #145
Matt, is this done now?

[2017-02-21 01:41] mjavaly commented on #145
I sped up rotation speed, and bound the escape key to exit. I want to test the fixed distance thing a little more but then we should be good to go.

[2017-02-21 01:42] brennan724 commented on #145
Okay, cool.  I just wanted to check in case this was able to be closed (apparently not yet).

[2017-02-21 03:43] cpimhoff commented on #152
Fixed on PR #156

[2017-02-21 03:43] #152 closed, assigned to cpimhoff

[2017-02-22 00:25] cpimhoff opened #158 "Removing Indices Based Storage on ATN and ATN-Editor"
The ATN should just directly hold refs to the associated twine node game objects. The editor should bind them correctly.

No indices should be serialized, as they are non-consistent between loads of a scene.

[2017-02-22 02:41] cpimhoff commented on #155
WOWZERS BOWSERS we have been doing this wrong...

[2017-02-22 02:46] cpimhoff commented on #155
Relevant reading:
- https://docs.unity3d.com/ScriptReference/EditorUtility.SetDirty.html
- https://docs.unity3d.com/ScriptReference/Undo.RecordObject.html

I'll start working on this soon. Good news is that we'll get undo support for free with this!

[2017-02-22 02:50] grahamearley commented on #155
👏 !!! Good find Charlie!!

[2017-02-23 14:20] brennan724 commented on #145
PR #160

[2017-02-23 14:20] #145 closed, assigned to mjavaly

[2017-02-23 14:21] brennan724 commented on #144
Caitlin, was this fixed in PR #159 ?

[2017-02-23 14:38] Donahuec commented on #144
Yup!

[2017-02-23 14:38] #144 closed, assigned to cpimhoff, Donahuec

[2017-02-23 16:07] Donahuec opened #161 "Change Slideshow to an interaction"
See the title

[2017-02-23 16:32] brennan724 opened #162 "Change min and max for sliders for tumble"

[2017-02-23 17:58] cpimhoff commented on #158
@grahamearley could you get this done as soon as possible? My bugfix (#155) will also require editing `ATNEditor`.

I'm still going to get started on my fix - just worried about a merge conflict during the code freeze 💻❄ crunch.

[2017-02-23 21:46] cpimhoff commented on #161
Resolved on PR #163

[2017-02-23 21:46] #161 closed, assigned to cpimhoff

[2017-02-23 22:04] cpimhoff opened #164 "Multi-Object Editing"
Our editors don't support when you have multiple objects selected. :(

https://docs.unity3d.com/ScriptReference/CanEditMultipleObjects.html
https://docs.unity3d.com/ScriptReference/Editor.html

[2017-02-24 02:20] cpimhoff commented on #155
Resolved via PR #165

[2017-02-24 02:21] cpimhoff commented on #158
Note that a change to `ATNEditor` will likely be in conflict with #165.

[2017-02-24 07:42] cpimhoff commented on #162
complete on #166

[2017-02-24 07:42] #162 closed, assigned to mjavaly

[2017-02-24 07:43] #55 closed, assigned to cpimhoff

[2017-02-24 07:45] cpimhoff opened #167 "Remove TwineNode Gizmos"
The solution posed in issue #55 was deemed unfeasible. We decided to scratch the `TwineNode` gizmo due to other factors as well (see: Twine spaghetti).

[2017-02-24 07:56] cpimhoff commented on #167
Resolved #168

[2017-02-24 07:56] #167 closed, assigned to nobody

[2017-02-24 21:01] grahamearley commented on #158
see #169

[2017-02-24 21:01] #158 closed, assigned to grahamearley

[2017-02-25 19:24] cpimhoff commented on #155
Closed on #165

[2017-02-25 19:24] #155 closed, assigned to cpimhoff

[2017-02-25 19:27] cpimhoff opened #170 "Create Release for v0.9"
Prairie is at code freeze. I suggest a version number 0.9 since there might be a bit more coding to do after thaw for 1.0 (our finished product).

We need to create a Unity package bundle and push a release tag to Github.

[2017-02-25 19:27] cpimhoff commented on #170
@grahamearley did this last time for the beta

[2017-02-26 19:54] cpimhoff opened #171 "Destroy Object Interaction"
I feel like we should have this one as an interaction...
after code thaw this would be super simple to implement.

Good for like, food. (eat food, it disappears) or keys that you "pick up" to progress Twine Story, etc.

[2017-02-26 20:03] Donahuec commented on #171
Alternatively, it could also be used to both disable or enable an object. The behavior would be exactly the same of you attached it to the object you with to destroy,  but could also be attached to another object allowing items to be enabled. That would allow for a way to control game flow and such. For instancr, with the food  example, it could be disabled when eaten, and reenabled next time food

[2017-02-28 03:29] #170 closed, assigned to grahamearley

[2017-03-06 20:48] cpimhoff opened #172 "Rename "Summary Annotation""
to something like "Object Annotation", or "Item Annotation", or "Physical Annotation", or "Interaction Annotation"...

What would be a good choice?

[2017-03-06 20:49] cpimhoff commented on #172
_we'd need to update the wiki as well!_

[2017-03-15 17:58] apjmason commented on #62
IIRC data sharing was the point of this request, e.g. if you leave a main mission for a dialogue scene and then want to come back to the main mission and not lose your progress in the main mission.

Putting this here as a possibility to explore in future: https://www.sitepoint.com/saving-data-between-scenes-in-unity/

[2018-01-31 14:03] shawngraham opened #178 "timeout error on twison?"
Hiya,

This all looks really amazing. I wondered if you'd encountered a twine error where the twison format can't be added? I keep getting a timeout error. I know this isn't really a Prairie issue, but thought I'd ask.

Thanks!

[2018-01-31 14:07] shawngraham commented on #178
ah, problem solved. if you have twine running locally, then no problem. if you're using the hosted version, problem.

[2018-01-31 14:07] #178 closed, assigned to nobody

[2018-02-26 01:53] shawngraham opened #182 "twison"
Hi!

Great work. As I go through the tutorial, there seems to be an issue with loading a new Twine story format. In Chrome, I kept getting a time-out error when I tried to load the twison.js file. However, in Firefox, all was fine. I don't know if this is me, or Chrome, but thought I'd mention it.

Thanks!
Shawn

[2018-02-26 01:54] #182 closed, assigned to nobody

[2018-02-26 11:18] apjmason commented on #182
Hi Shawn,

Thanks for taking Prairie through its paces! Version two is in active development by a new team of students in a forked repo right now with lots of new features. I'll make sure they've seen this and address it, at least in the documentation.

Austin

[2018-02-26 14:54] shawngraham commented on #182
thanks! i closed this because I saw that I'd already left a previous issue. By the way, I'll probably have a handful of students give Prairie a try too this coming month as part of our class ([https://shawngraham.github.io/hist3812w18/](https://shawngraham.github.io/hist3812w18/ ))